.main {
    margin: 7rem 3rem;
    min-height: 100vh;
    border: 1px solid black;
    padding: 2rem;
}

.header {
    display: grid;
    grid-template-columns: 80% 20%;
}

.form {
    display: grid;
    gap: 1rem;
}

.panelTitle {
    text-align: center;
    padding: 2rem;
}

.adminLink {
    color: darkgoldenrod;
    border: 1px solid black;
    padding: 1rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.twoButton {
    gap: 1rem;
    display: flex;
}

.loginLink {
    color: darkgoldenrod;
    border: 1px solid black;
    padding: 1rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
}