.container {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: center;
    grid-row-gap: 2rem;
    grid-column-gap: 2rem;
}

.stockItem {
    margin: auto;
    width: 100%;
    height: 100%;
    max-width: 20vw;
}

.singleStock{
    display: grid;
    grid-template-columns: repeat(2,30%);
    grid-column-gap: 2rem;
    justify-content: center;
}

.alert{
    color: red ;
}

.cardImage{
    max-height: 300px;
    min-height: 300px;
}

.cardFullImage{
}